<div id="footer" class="py-3 bg-dark text-white text-center">
    Copyright © <a href="https://www.github.com/Quasaar">Quasar Tüm Hakları Saklıdır. </a><br>
    <a href="http://emreninblogu/" class="btn btn-success">Yukarı Çık</a>
    <small>
        <%=Date.now()%>
    </small> 
</div>