<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <style type="text/css">
        body {
            background-image: url("http://jmd.im/wp-content/uploads/2017/06/blackx_thumbnail.jpg");
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <h1 class="text-left text-light">Hakkımızda;</h1>

    <p class="text-light text-center">
        <li class="text-light pb-4">Bloğumuz R/C uçak,R/C Helikopter,R/C araba ve Motorsiklet gibi konularda bilgi vermek için kurulmuştur.</li>
        <img class="ml-2" src="https://www.helifreak.com/attachment.php?attachmentid=98724&d=1243281684" width="500px">
        <img class="inline-item ml-3" src="https://img.donanimhaber.com//images/haber/100946/Trumptan-Harley-Davidsona-tehdit-Bu-onlar-icin-sonun-baslangici-olur100946_0.jpg" width="500px">
        <li class="text-light pt-4">Bu sitedeki hiçbir bilgi telif hakkı içermez ve sorumluluk kabul etmez.</li>
   <li class="text-center text-light">   <b> <span style="color:rgb(9, 255, 0);">Bu bloğu kullanan herkes <u>bu koşulları kabul etmiş olur.</u></span></b> </p> </li>

    <div class="text-center">
        <a class="btn btn-primary" href="http://emreninblogu/">Ana Sayfa</a>

    </div>

</body>

</html>