<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>

    <body>
        <p>
            <%=e.stack.replace(/\\n/g, '<br>')%>
        </p>

        <% include ../partials/footer %>
    </body>

</html>